@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");

$blue: #1e86ff;
$dark-blue: #334680;
$black: #282538;
$grey: #b9bdcf;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

body {
  box-sizing: border-box;
  background-color: #f6f7fb;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 12px;
}
.btn {
  font-family: "Roboto", sans-serif;
  padding: 14px 27px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.btn-blue {
  color: white;
  background-color: $blue;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }
}

.checkbox {
  display: flex;
  align-items: center;
  margin: 8px 0;

  input {
    width: 18px;
    height: 18px;
    margin-right: 12px;
  }

  label {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: $dark-blue;
  }
}

.custom-label {
  padding: 8px;
  border: 1px solid $dark-blue;
  border-radius: 4px;
  align-self: start;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: $dark-blue;
  font-weight: bold;
}

// Test
.fixed {
  position: fixed;
  background: white;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  padding: 24px;
}

.filters-open {
  padding-left: 332px;
}

//End of test

// Home
.header {
  h1 {
    font-family: "Poppins", sans-serif;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: $black;

    span {
      font-weight: normal;
    }
  }
}
.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/backgroundImg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  height: 138px;
  margin: 0 auto;
  margin-top: 32px;
  padding: 0 18px;

  input {
    flex: 2;
  }
}
.form-group {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 4px 5px 4px 17px;
  height: 48px;
  background-color: white;
  border-radius: 4px;
  max-width: 790px;

  input {
    font-family: "Roboto", sans-serif;
    margin-left: 10px;
    margin-right: 24px;
    padding: 0 4px;
    height: 32px;
    border: none;
    background: transparent;

    &::placeholder {
      font-size: 1.2rem;
      line-height: 1.4rem;
      color: $grey;
    }

    &:focus {
      border: 1px solid $blue;
      outline: none;
      box-shadow: 0 0 4px #1e86ff94;
    }
  }
}

.form-group-lg {
  height: 55px;
}

// Home__content
.content {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.home__filters {
  flex: 1;

  .cities {
    margin-top: 25px;
  }
}
.home__jobs {
  margin-top: 24px;
  flex: 2;
}
.input-filters {
  .form-group {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  }

  label {
    display: block;
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 2.1rem;
    font-weight: bold;
    color: $grey;
    margin-top: 32px;
    margin-bottom: 14px;
  }
}

// Job Card
.job {
  display: flex;
  align-items: center;
  padding: 12px;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  text-decoration: none;
  margin-bottom: 24px;
}
.job__content {
  width: 100%;
  display: flex;
  height: 150px;

  .job__logo {
    min-width: 90px;
    width: 90px;
    height: 90px;
    border-radius: 4px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 16px;
  }

  .job__infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .company {
      font-size: 1.2rem;
      line-height: 1.4rem;
      color: $dark-blue;
      font-weight: bold;
    }

    .job-title {
      font-size: 1.6rem;
      line-height: 1.9rem;
      color: $dark-blue;
    }
  }
}
.job-meta,
.job-location,
.job-date {
  display: flex;
  align-items: center;
}
.job-date,
.job-location {
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: $grey;

  .icon {
    margin-right: 8px;
  }
}
.job-date {
  margin-left: 24px;
}

@media screen and (min-width: 767px) {
  .content {
    flex-direction: row;
  }
  .home__jobs {
    margin-top: 0;
    margin-left: 32px;
  }
}
